body{
    background-color: #e4f9f5;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

a{
    color:#11999E ;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}
/***TOP CONTAINER****/

h1{
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color:#66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

.top-container{
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 400px;
}

.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}


/**** END OF TOP CONTAINER***/

/**** MIDDLE CONTAINER ***/

hr{
    border: dotted #a6e3e9 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


.middle-container{
    background-color: white;
}

.profile{
    width: 50%;
    margin: auto;
    line-height: 2;
}

.profile-img{
    margin: 40px auto;
    margin-top: 100px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-row:last-child{
    width: 50%;
    margin: 200px auto 200px auto;
    text-align: left;
}
.chilli-image{
    width: 27%;
    float: right;
    margin: auto 0px auto 30px;
}

.computer-img{
    width: 27%;
    float: left;
    margin-right: 30px;
}

.contact-me{
    padding-top: 50px;
    background-color: #e4f9f5;
}

.btn {
    box-shadow: 0px 8px 13px -7px #11999e;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #66bfbf),
      color-stop(1, #11999e)
    );
    
    background-color: #66bfbf;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-indent: 0;
    display: inline-block;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    height: 49px;
    line-height: 49px;
    width: 166px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
  }
  .btn:hover {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #11999e),
      color-stop(1, #66bfbf)
    );
  
    background-color: #11999e;
  }
  .btn:active {
    position: relative;
    top: 1px;
  }
/**** END OF MIDDLE CONTAINER***/

/**** BOTTOM CONTAINER ****/

.bottom-container{
    margin: 50px auto;
}

/**** END OF BOTTOM CONTAINER ***/