body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 500;
}

/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* title image */
.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Feature section */

#features {
    padding: 7% 0;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-symbol {
    color: #ef8172;
    font-size: 3rem;
}

.feature-symbol:hover {
    color: #ff4c68;
}

.feature-box {
    padding: 5%;
}

/* testimonial Section */

#testimonials {

    text-align: center;
    background-color: #ef8172;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-text {
    color: white;
}

/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

/* Cta Section */

#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
}

#cta h3{

    font-size: 3rem;
    line-height: 1.5;
}

/* Footer Section */

#footer{
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
}

.footer-logo{
    margin: 10px;
}

#footer p{
    margin-top: 20px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        width: 70%;
    }

    h1 {
        font-size: 2.7rem;
    }

    .download-btn {
        margin: 5% 2% 5% 0;
    }
}